<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="container px-4 py-5" id="featured-3">
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

{% for var1 in product %}
<div class="col">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ var1.title }}</h5>
            <p class="card-text">{{ var1.description }}</p>

             <a href="#" class="btn btn-primary">Buy Now</a>
</div>
</div>
</div>
        {% endfor %}

  </div>
</div>

{% endblock %}

</body>
</html>